@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

button,span {
  font-family: 'Heebo', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ita == custorm class */
@layer components {
  .ita-btn-shadow{
    @apply flex justify-center items-center shadow shadow-slate-400  p-2 dark:shadow-white
  }
  .ita-title-underlined{
    @apply inline-block relative before:absolute before:left-2 before:-bottom-2 before:w-full before:h-1 before:bg-slate-300
  }
  .ita-navbar-link {
    @apply text-xl border-b pt-1 transition-all w-full flex sm:border-none sm:pt-0 hover:text-primary justify-center
  }

  .ita-navbar-menu {
    @apply absolute -bottom-40 min-w-[200px] border-y right-0 rounded-md sm:rounded-full sm:static sm:flex sm:justify-center sm:items-center font-medium flex-row gap-7 shadow-md sm:min-w-[400px] sm:h-1/2 p-3
  }

  .ita-navbar-menu-mobile {
    @apply basis-1/6 text-lg gap-2 h-[1/2] font-medium cursor-pointer hover:bg-slate-100 transition-all sm:hidden sm:basis-auto
  }
}